{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": true,
      "targets": {
        "browsers": [
          "> 2%",
          "not ie <= 11"
        ]
      }
    }]
  ],
  "plugins": [
    "syntax-jsx",
    "transform-react-jsx",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}
