@font-face {
	font-family: "icons";
	src: url("icons.eot?398992813f9e82581d755e39822094d7?#iefix") format("embedded-opentype"),
url("icons.woff2?398992813f9e82581d755e39822094d7") format("woff2"),
url("icons.woff?398992813f9e82581d755e39822094d7") format("woff"),
url("icons.ttf?398992813f9e82581d755e39822094d7") format("truetype"),
url("icons.svg?398992813f9e82581d755e39822094d7#icons") format("svg");
}

.icon {
	display: inline-block;
	line-height: 1;
	height: 1em;
}

.icon:before {
	font-family: icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-cart:before {
	content: "\f101";
}

.icon-collection:before {
	content: "\f102";
}

.icon-arena:before {
	content: "\f103";
}

.icon-market:before {
	content: "\f104";
}

.icon-sort-az:before {
	content: "\f105";
}

.icon-sort-za:before {
	content: "\f106";
}

.icon-clockwise:before {
	content: "\f107";
}

.icon-counter-clockwise:before {
	content: "\f108";
}

