.arena-links,
.arena-select {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.arena-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: @space-m;
  margin: @space-m 0;

  @media @device-phone {
    grid-template-columns: 1fr;
  }
}

.arena-option {
  position: relative;
  width: 100%;
  border-radius: @border-radius;
  overflow: hidden;
}

.arena-option-title {
  font-size: @font-size-base;
}

.arena-option-description {
  margin: 0;
}

.arena-option-image {
  width: 100%;
  display: block;
}

.arena-option-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  color: @color-text-white;
  padding: @space-m @space-l;
}

.arena-location-image { 
  width: 100%;
  z-index: 1;
}

.arena-location {
  width: 100%;
  position: relative;
}

.arena-new-challenge {
  color:  rgba(255, 255, 255, 0.8);
  background-color:  rgba(255, 255, 255, 0.5);
  font-size: 250px;
  text-align: center;
  border-radius: 15%;
  top: 10%;
  left: 35%;
  position: absolute;
  z-index: 2;
}

.arena-location-opponents {
  top: 70%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.arena-location-icon {
  top: 50px;
  position: relative;
  color:  rgba(255, 255, 255, 0.5);
  font-size: 140px;
}

.arena-location-opponents-collection {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2*@space-l;

  li {
    padding: 0;
  }
}