.input {
  background-color: @color-foreground;
  border-radius: @border-radius;
  width: 100%;
  margin: 0 auto;
  border: none;
  font-size: @font-size-base;
  line-height: 1;
  padding: @space-m @space-l;
  color: @color-text;
}

.input--inline {
  box-shadow: 0 1px @space-xs 0 @color-shadow;
  margin: 0 @space-m;
}

.input--right {
  text-align: right;
}

.input-group {
  display: flex;
  align-items: center;
}
