.page {
  @media @device-phone {
    margin-top: @space-l * 3 + @font-size-large;
  }
}

.page-header {
  margin-bottom: @space-l;
  display: flex;
  align-items: center;

  @media @device-phone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: @space-l;
    background-color: white;
    z-index: @z-index-page-title;
  }
}

.page-header-action {
  margin-left: @space-s;

  @media @device-phone {
    &:first-of-type {
      margin-left: auto;
    }
  }
}

.page-title {
  flex: 1;
  font-size: @font-size-huge;
  margin: 0;

  @media @device-phone {
    font-size: @font-size-large;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.page-link {
  i.icon {
    font-size: 24px;
    margin-right: @space-l;
  }

  a {
    display: flex;
    margin-bottom: @space-l;
    align-items: center;
  }
}

.page-title-secondary {
  font-size: @font-size-large;
  text-align: center;
  margin-bottom: @space-l;
}
