@media @device-phone {
  .page {
    margin-top: @space-l * 3 + @font-size-large;
  }

  .page-title {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    padding: @space-l 0;
    font-size: @font-size-large;
    line-height: 1;
    background-color: white;
    z-index: @z-index-page-title;
  }
}

.page-link {
  i.icon {
    font-size: 24px;
    margin-right: @space-l;
  }

  a {
    display: flex;
    margin-bottom: @space-l;
    align-items: center;
  }
}

.section-title {
  font-size: @font-size-large;
  text-align: center;
  margin-bottom: @space-l;
}
